<footer class ="footer">
  <div class="container">
    <div class="row">
      <ul class="list-inline social-buttons col-md-12 text-center">

        <li class="list-inline-item">
          <a href="https://www.facebook.com/jinwook.paeng.7">
            <i class="fa fa-facebook"></i>
          </a>
        </li>

        <li class="list-inline-item">
          <a href="https://www.instagram.com/paeng___/">
            <i class="fa fa-instagram"></i>
          </a>
        </li>

        <li class="list-inline-item">
          <a href="https://github.com/nuggy875">
            <i class="fa fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
    <span class="copyright">Copyright © Chung-Ang Univ. CSE. Capstone Design.</span>
    <p>팽진욱</p>


  </div>
</footer>
