<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>RUMYPET</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/startstyle.css' />
</head>

<body>

  <header class="container">

    <h1 class="text-center">
      <strong>
        Dog Nose Rocognition
      </strong>
    </h1>

    <br>
    <br>

    <div class="text-center">
      <a href="./python" class="btn btn-primary btn-lg centered">Python Code</a>
    </div>

    <br>
    <br>

  </header>







    </div>

    <!-- Footer -->

    <% include ../partials/footer %>

    </body>
    </html>


</body>

</html>
