<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dognose.cd_dog">
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_rumypet"
        android:roundIcon="@mipmap/ic_rumypet_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="dognose.cd_dog.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Main"/>
        <activity android:name=".CameraActivity"/>
        <activity android:name=".CameraActivity_for_find"/>
        <activity android:name=".CameraActivity_for_body"/>

        <activity android:name=".InformationDogListActivity"/>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".DBChecker"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".RegisterAdditionalDogActivity"/>
        <activity android:name=".InformationDogListDetail"/>
        <activity android:name=".InformationDogListDetailDetail"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".FindDogActivity"/>
        <activity android:name=".FindDogProgressActivity"/>
        <activity android:name=".FindDogCandidateActivity"/>
        <activity android:name=".FindDogDetailActivity"/>
        <activity android:name=".RecordActivity"/>

    </application>
</manifest>